body {
    background-color: #FFEEA9;
    margin: 0;
}

header h1 {
    color: #708A58;
}

.side-list ul {
    background-color: #708A58;
    border-radius: 20px;
    padding: 20px 5px;
    list-style: none;
}

.side-list li {
    font-size: 25px;
    line-height: 1.5;
    color: white;
    text-align: center;
    margin: 30px 0px;
}

.main-content {
    background-color: #5A827E;
    padding: 40px 5px;
    border-radius: 30px;
    color: white;
    text-align: center;
}

.lead-status {
    background-color: #1DCD9F;
    padding: 20px 5px;
    border-radius: 30px;
    margin: 30px 0px 5px;
}

.lead-status h5 {
    text-align: center;
    color: white;
    font-size: 25px;
}

.lead-status ul {
    list-style: none;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 5px;
}

.lead-status li {
    margin: 10px 0px;
}

.lead-status li h6 {
    font-size: 20px;
    margin: 10px 0px;
}

.lead-status h6 span {
    border-radius: 5px;
    padding: 15px 20px;
    background-color: black;
    color: white;
}

.filterDiv {
    background-color: #5A827E;
    padding: 5px 5px;
    color: white;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.newLeadBtn {
    background-color: black;
    padding: 9px 10px;
    border-radius: 10px;
    text-align: center;
    margin-top: 15px;
}

.newLeadBtn button {
    font-size: 20px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 0px 30px;
}

.addlead-form {
    background-color: #5A827E;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.new-agent-form {
    background-color: #5A827E;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    margin: 50px;
    padding: 40px 20px;
}

.addlead-form label {
    color: white;
    font-size: 16px;
    margin-right: 5%;
    width: 40%;
    text-align: left;
}

.new-agent-form label {
    color: white;
    font-size: 16px;
    margin-right: 5%;
    width: 40%;
    text-align: left;
}

.new-agent-form label {
    color: white;
    font-size: 16px;
    margin-right: 5%;
    width: 40%;
    text-align: left;
}

.addlead-form input,
select {
    width: 40%;
    margin: 10px 0px;
    border: 2px solid black;
    background-color: #FFEEA9;
    border-radius: 15px;
    padding: 5px 10px;
    color: black;
}

.new-agent-form input,
select {
    width: 40%;
    margin: 10px 0px;
    border: 2px solid black;
    background-color: #FFEEA9;
    border-radius: 15px;
    padding: 5px 10px;
    color: black;
}

.add-lead {
    margin-bottom: 20px;
}

.addlead-form button {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 15px;
}

.new-agent-form button {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 15px;
}

.add-lead h1 {
    color: seagreen;
    margin-top: 10px;
}